body {
  
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
}



@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
/*styling for title in the header*/
#app-title {
    text-align: center;
    font-family: serif;
    font-style: italic;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}

/*styling for all labels in app */
label {
    position: center;
    text-align: center;
    font-family: sans-serif;
    margin-top: 30px;
    font-weight: 500;
    color: white;
    margin-top:40px;
    font-size: 18px;
    
}

/*background color for all pages in app */
#mainPage, #settingsPage, #aboutPage, #guardButtonPage, #bloodTypePage,
#alergiesPage, #contactsPage, #homeAddressPage {
    background-color: orangered;
}


/*styling for paragraphs*/
p{
   text-align: center;
   font-family: serif;
   font-size: 12px;
}
p2{
    text-align: center;
    color: white;
    font-size: 22px;
}

#map {
height:100pc;
width:100pc;
margin:0;
padding:0;
}

