body {
	background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/*styling for title in the header*/
#app-title {
    text-align: center;
    font-family: serif;
    font-style: italic;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}

/*styling for all labels in app */
label {
    position: center;
    text-align: center;
    font-family: sans-serif;
    margin-top: 30px;
    font-weight: 500;
    color: white;
    margin-top:40px;
    font-size: 18px;
    
}

/*background color for all pages in app */
#mainPage, #settingsPage, #aboutPage, #guardButtonPage, #bloodTypePage,
#alergiesPage, #contactsPage, #homeAddressPage {
    background-color: orangered;
}


/*styling for paragraphs*/
p{
   text-align: center;
   font-family: serif;
   font-size: 12px;
}
p2{
    text-align: center;
    color: white;
    font-size: 22px;
}

/*styling for divs containing maps */
#map{
height:100pc;
width:100pc;
margin:0;
padding:0;
}

#map2 {
	height:100pc;
	width: 100pc;
	margin:0;
	padding:0;
}

/* styling for panel */
#floating-panel {
        position: absolute;
        top: 10px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

